.todolistContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 5px;
  @media (max-width: 650px){
    width: 98%;
  }


  .tasksContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}