@import "./src/App";

.headerContainer {
  margin-bottom: 10px;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  box-shadow: 0 0 2px $primary-color;
  position: relative;

  .title {
    letter-spacing: 3px;
    color: white;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    @media (max-width: 320px){
      font-size: 30px;
    }
  }

  .buttonsGroup {
    position: absolute;
    right: 40px;
    @media (max-width: 400px){
      right: 2px;
    }
  }
}



